<div id="<%= dom_id participation %>">
  <p>
    <strong><%= participation.promotion.title %></strong> :
    <strong><%= participation.response.present? ? 'responded' : 'not responded yet' %></strong>
  </p>
</div>
