<%= form_with(model: description) do |form| %>
  <% if description.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
        <% description.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
