<h1>Editing description</h1>

<%= render "form", description: @description %>

<br>

<div>
  <%= link_to "Show this description", @description %> |
  <%= link_to "Back to descriptions", descriptions_path %>
</div>
