<% product ||= @product %>
  <%= render 'product_img', product: product %>
  <div style="margin-top: 25px; width: 100%; max-width: 480px; text-align: center; font-size: 20px; font-weight: bold;">
    <%= render product %>
  </div>
