<% product ||= @product %>
<div style="
    background-image: url('/assets/images/<%= product.description %>');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    margin-top: 25px;
    height: 350px;
    width: 100%;
    max-width: 480px;
  ">
  </div>
