<!-- <div class="bg-center flex flex-col items-center min-h-screen" style="color: white; min-height: 100vh; background-size: 100% 100%; background-position: center; background-image: url('/assets/images/bg-blck-yellow.jpg');"> -->

<div class="bg-center flex flex-col items-center min-h-screen" style="color: black; min-height: 100vh; background-size: 100% 100%; background-position: center; background-color: #ffa500;">
  <div style="position: absolute; top: 0px; left: 10px; margin-bottom: 20px;">
    <%= link_to :back do %>
      <p style="font-size: 18px;">🔙</p>
    <% end %>
  </div>
  <%= render 'product_card' %>
  <div id="buy-modal" style="margin-top: 120px; display: none;"></div>
  <div id="buy-btns" class="flex flex-col items-center">
    <div class="buy-btn" style="
        width: 240px;
        text-align: center;
        background: #fff4e4;
        margin-top: 60px;
        height: 46px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 15px;
        color: #d35400;
        transition: transform 0.2s;
    ">
      <%= button_to "Comprar pelo Preço Normal", buy_product_path(@product), method: :post, remote: true, id: "buy-btn" %>
    </div>  
    <div class="buy-btn" style="
        width: 320px;
        text-align: center;
        background: #fffaf1;
        margin-top: 20px;
        height: 55px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        color: #c0392b;
        border: 2px solid #f1c40f;
        transition: transform 0.2s;
    ">
      <%= link_to "Participar do Jogo (95% OFF)", Promotion.active_one %>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var buyBtn = document.getElementById("buy-btn");
      var buyBtns = document.getElementById("buy-btns");
      if (buyBtn) {
        buyBtn.addEventListener("click", function(e) {
          var modal = document.getElementById("buy-modal");
          if (modal) {
            modal.style.display = "block";
            modal.innerHTML = '<div class="modal"><img src="/assets/images/loading.gif" /></div>';
            buyBtns.style.display = "none";
          }
        });
      }
    });
  </script>
</div>

<style>
  .buy-btn:hover {
    color: white;
    transform: scale(1.05);
  }
</style>